* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  -webkit-transform: trnaslateZ(0);
  transform: trnaslateZ(0);
}
.mt_200 {
  margin-top: 200px;
}
.letao {
  background: url("../images/bg.jpg") repeat;
  background-size: 471px 390px;
  padding-left: 180px;
  padding-right: 0;
  overflow: hidden;
  transition: all .5s;
}
.letao.move {
  padding-left: 0px;
}
.login_bg {
  background-color: #263238;
}
.le_aside {
  width: 180px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  background-color: #263238;
  transition: all .5s;
  transform: translateX(0);
}
.le_aside h2 {
  text-align: center;
  background-color: #80CBCF;
  height: 50px;
  line-height: 50px;
  font-size: 30px;
  margin-top: 0;
}
.le_aside .head {
  width: 100%;
  height: 150px;
  margin: 30px auto 0;
  text-align: center;
}
.le_aside .head .pic {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  animation: rotate 20s linear infinite;
}
.le_aside .head .pic img {
  display: block;
  width: 100%;
  border-radius: 50%;
}
.le_aside .head .name {
  text-align: center;
  color: #FFCA28;
  font-size: 20px;
  margin-top: 10px;
  display: block;
}
.le_aside .aside_menu li {
  margin: 15px 0;
}
.le_aside .aside_menu li a.active {
  border-left: 3px solid #FFCA28;
  background-color: #80CBCF;
  color: #000;
}
.le_aside .aside_menu li a.first,
.le_aside .aside_menu li a.second {
  margin-left: 18px;
  border-bottom: 1px dashed #80CBCF;
}
.le_aside .aside_menu a {
  color: #589DF6;
  padding-left: 30px;
  display: block;
  line-height: 30px;
  border-left: 3px solid transparent;
  text-decoration: none;
}
.le_aside.move {
  transform: translateX(-100%);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}
.le_content {
  width: 100%;
  height: 100%;
}
.le_content header {
  width: 100%;
  height: 50px;
  background-color: #80CBCF;
}
.le_content header a {
  width: 50px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: #263238;
}
.le_content .lechear_main {
  width: 100%;
  padding: 20px;
  height: 100%;
  box-sizing: border-box;
}
.le_content .lechear_main .le_chart_1,
.le_content .lechear_main .le_chart_2 {
  width: 45%;
  height: 500px;
}
.le_content .content {
  padding: 20px;
}
.le_content .content .level-table {
  margin-top: 20px;
}
.table > tbody > tr > td {
  vertical-align: middle;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  width: 100%;
  height: 100%;
}
.container .yes {
  margin-left: 20px;
  background-color: #589DF6;
}
.panel-primary > .panel-heading {
  background-color: #589DF6;
}
input[type="text"],
input[type="search"],
textarea {
  border: 1px solid #ccc;
}
